<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>Kevin Hills Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/images/logo/kevinhillslogo.png">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />


</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/images/logo/kevinhillslogo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>

        <nav>
            <ul class="menu-aside">
                <li class="" style="background-color: black;border-radius: 5px;">
                    <a class="menu-link" href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text" style="color: #ffffff;">Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <!-- <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i> -->
                    <a class="menu-link" href="/admin/userDetails"> <i class="icon material-icons md-people"></i>

                        <span class="text" style="padding-left: 10px;">Users</span>
                    </a>
                  
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/adminProduct"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text" style="padding-left: 10px;">Products</span>
                    </a>
                  
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text" style="padding-left: 10px;">Catagory</span>
                    </a>
                
                </li>

                <li class="">
                    <!-- <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i> -->
                    <a class="menu-link" href="/admin/adminOrders"> <i
                            class="text-success material-icons md-local_shipping" style="color: black;"></i>

                        <span class="text" style="padding-left: 10px;">Orders</span>
                    </a>
                   
                </li>
                <li class="">
                    <!-- <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i> -->
                    <a class="menu-link" href="/admin/adminCoupon"> <i class="icon material-icons md-local_offer"></i>

                        <span class="text" style="padding-left: 10px;">Coupons</span>
                    </a>
                   
                </li>

                <li class="">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales Report</span>
                    </a>

                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar" style="padding-left: 1000px;">


            <a class="menu-link" href="/admin/logout" onclick="confirmLogout(event)">
                <i class="icon material-icons md-people" style="margin-left: 100px; color: black;"></i>
                <span class="text" style="color: black;">Logout</span>
            </a>


        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    <a href="#" class="btn " style="background-color: black; color: #ffffff;"><i
                            class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>
            <div class="row">
                <section class="content-main">
                    <!-- Modal -->
                    <div class="modal fade" id="contactmessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Contact emails</h5>
                                </div>
                                <div class="modal-body">
                                    <div style="width: 100%; height: 50px; margin-bottom: 20px;" class="d-flex">
                                        <button onclick="orderdata()" class="orderbtn" id="orderbtn">New emails</button>
                                        <button onclick="returndata()" class="returnbtn" id="returnbtn">Replied</button>
                                    </div>
                                    
                                    
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" style="background-color: black; color: white;" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
            
                        
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="card card-body mb-4">
                                    <article class="icontext">
                                        <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="8.75" viewBox="0 0 320 512"><path fill="#000000" d="M0 64C0 46.3 14.3 32 32 32H96h16H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H231.8c9.6 14.4 16.7 30.6 20.7 48H288c17.7 0 32 14.3 32 32s-14.3 32-32 32H252.4c-13.2 58.3-61.9 103.2-122.2 110.9L274.6 422c14.4 10.3 17.7 30.3 7.4 44.6s-30.3 17.7-44.6 7.4L13.4 314C2.1 306-2.7 291.5 1.5 278.2S18.1 256 32 256h80c32.8 0 61-19.7 73.3-48H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H185.3C173 115.7 144.8 96 112 96H96 32C14.3 96 0 81.7 0 64z"/></svg></span>
                                        <div class="text">
                                            <h6 class="mb-1 card-title">Revenue</h6>
                                            <span>₹<%= revenue %></span>
                                            <span class="text-sm">
                                                Shipping fees are not included
                                            </span>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-body mb-4">
                                    <article class="icontext">
                                        <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><i class="text-dark material-icons md-local_shipping"></i></span>
                                        <div class="text">
                                            <h6 class="mb-1 card-title">Orders</h6> <span><%= order.length %></span>
                                            <span class="text-sm">
                                                Delivered products only
                                            </span>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-body mb-4">
                                    <article class="icontext">
                                        <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="17.5" viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#000000" d="M64 160C64 89.3 121.3 32 192 32H448c70.7 0 128 57.3 128 128v33.6c-36.5 7.4-64 39.7-64 78.4v48H128V272c0-38.7-27.5-71-64-78.4V160zM544 272c0-20.9 13.4-38.7 32-45.3c5-1.8 10.4-2.7 16-2.7c26.5 0 48 21.5 48 48V448c0 17.7-14.3 32-32 32H576c-17.7 0-32-14.3-32-32H96c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V272c0-26.5 21.5-48 48-48c5.6 0 11 1 16 2.7c18.6 6.6 32 24.4 32 45.3v48 32h32H512h32V320 272z"/></svg></span>
                                        <div class="text">
                                            <h6 class="mb-1 card-title">Products</h6> <span><%= product.length %></span>
                                            <span class="text-sm">
                                                In <%= category.length %> Categories
                                            </span>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-body mb-4">
                                    <article class="icontext">
                                        <span class="icon icon-sm rounded-circle" style="background-color: rgb(212, 212, 212);"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="17.5" viewBox="0 0 640 512"><path fill="#000000" d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"/></svg></span>
                                        <div class="text">
                                            <h6 class="mb-1 card-title">Users</h6> <span><%= user.length %></span>
                                            <span class="text-sm">
                                                Total users
                                            </span>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-12 col-lg-12">
                                <div class="card mb-4">
                                    <article class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h5 class="card-title" style="text-align: center;">Product and user statistics</h5>
                                            <div class="d-flex" style="gap: 50px;">
                                                <li style="color: rgb(255, 103, 128);">User</li>
                                                <li style="color: black(23, 108, 65);">Order</li>
                                            </div>
                                        </div>
                                        <canvas id="linechart" height="120px"></canvas>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-5">
                                <div class="card mb-4">
                                    <article class="card-body">
                                        <h5 class="card-title" style="text-align: center;">Product counts based on category sales</h5>
                                        <canvas id="samplechart" style="width:100%; max-width:700px; height: 300px;"></canvas>
                                    </article>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="card mb-4">
                                    <article class="card-body">
                                        <h5 class="card-title" style="text-align: center;">Monthly Revenue Statistics</h5>
                                        <canvas id="sample2chart" style="width:100%; max-width:700px; height: 300px;"></canvas>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="content-header" style="margin-top: 50px;">
                            <div style="margin: auto;" class="text-center">
                                <h2 class="content-title card-title">Top 5 selling products</h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                                <% if (top5products) { %>
                                    <% for( let i = 0; i < top5products.length; i++ ) { %>
                                        <div class="col">
                                            <div class="card card-product-grid">
                                                <a href="/admin/productinfo?id=<%= top5products[i]._id %>" class="img-wrap"> <img src="/uploads/<%= top5products[i].image[0] %>" alt="Product"> </a>
                                                <div class="info-wrap">
                                                    <a href="/admin/productinfo?id=<%= top5products[i]._id %>" class="title text-truncate"><%= top5products[i].name %></a>
                                                    <div class="price mt-1 d-flex">
                                                        ₹<%= top5products[i].regularPrice %>.00
                                                         &nbsp;&nbsp;&nbsp;&nbsp; <span style="color: rgb(255, 0, 0); font-size: 13px; text-decoration: line-through;">₹<%= top5products[i].offerPrice %>.00</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <% if (productcatList) { %>
                            <div class="content-header" style="margin-top: 50px;">
                                <div style="margin: auto;" class="text-center">
                                    <h2 class="content-title card-title">Top 5 Category</h2>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5">
                                    <div class="col">
                                        <div class="card card-product-grid"  style="background-color: rgb(0, 0, 0)">
                                            <div class="info-wrap">
                                                <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[0] %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-product-grid"  style="background-color: rgb(30, 30, 30)">
                                            <div class="info-wrap">
                                                <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[1] %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-product-grid"  style="background-color: rgb(47, 47, 47)">
                                            <div class="info-wrap">
                                                <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[2] %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-product-grid"  style="background-color: rgb(69, 69, 69)">
                                            <div class="info-wrap">
                                                <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[3] %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card card-product-grid"  style="background-color: #646464">
                                            <div class="info-wrap">
                                                <p style="font-weight: bolder; color: rgb(255, 255, 255); text-align: center;"><%= productcatList[4] %></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </section>


            </div>
            </div>

        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="/admin-assets/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/admin_assets/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
        integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="utils.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/vendors/chart.js"></script>
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="/admin-assets/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<script>
    // Sample data for the chart
    const x2Values = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    const revenewDayaArray = '<%= JSON.stringify(revenewDayaArray) %>';
    const revenewDayaArrayResult = JSON.parse(revenewDayaArray);

    // Create a pie chart
    new Chart("sample2chart", {
        type: "bar",
        data: {
            labels: x2Values,
            datasets: [{
                backgroundColor: "Black",
                data: revenewDayaArrayResult,
            }]
        },
        options: {
            legend: { display: false },
            elements: {
                line: {
                    tension: 0
                }
            },
        }
    });

    const xlinevalue = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    const userDayData = '<%= JSON.stringify(UserdayArray) %>';
    const userDayDataResult = JSON.parse(userDayData);
    const orderdayArray = '<%= JSON.stringify(orderdayArray) %>';
    const orderdayArrayResult = JSON.parse(orderdayArray);

    new Chart("linechart", {
        type: "line",
        data: {
            labels: xlinevalue,
            datasets: [{
                data: orderdayArrayResult,
                borderColor: "Black",
                fill: false,
            }, {
                data: userDayDataResult,
                borderColor: "Pink",
                fill: false,
            }]
        },
        options: {
            legend: { display: false },
            elements: {
                line: {
                    tension: 0
                }
            },
        }
    });

    window.addEventListener("load" , ()=> {
        $.ajax({
            url: "/admin/CatChart",
            method: "get",
            success: (response) => {
                if (response.status === "true") {
                    catNames = response.catNames;
                    chartColores = response.chartColores;
                    cartQtyArray = response.cartQtyArray;
                    // Sample data for the chart
                    const xValues = catNames;
                    const yValues = cartQtyArray;
                    const barColors = chartColores;

                    new Chart("samplechart", {
                        type: 'doughnut',
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            title: {
                                display: true,
                            }
                        }
                    });
                }
            }
        })
    });

    function returndata(){
    document.getElementById("returndetails").style.display = "block"// details showing
    document.getElementById("orderdetails").style.display = "none"
    document.getElementById("returnbtn").style.backgroundColor = "black";// btn style setting
    document.getElementById("returnbtn").style.color = "white";
    document.getElementById("orderbtn").style.backgroundColor = "white";// btn style removing
    document.getElementById("orderbtn").style.color = "black";
    document.getElementById("orderbtn").style.border = "1px solid black";
 }

 function orderdata(){
    document.getElementById("returndetails").style.display = "none"// details showing
    document.getElementById("orderdetails").style.display = "block"
    document.getElementById("orderbtn").style.backgroundColor = "black";// btn style setting
    document.getElementById("orderbtn").style.color = "white";
    document.getElementById("returnbtn").style.backgroundColor = "white";// btn style removing
    document.getElementById("returnbtn").style.color = "black";
    document.getElementById("returnbtn").style.border = "1px solid black";
 }

function replyEmail(id , index){
    const replyMessage = document.getElementById("input"+index).value;
    if(replyMessage.trim() === ""){
        document.getElementById("error" + index).style.display="block";
        setTimeout(() => {
            document.getElementById("error" + index).style.display="none";
        }, 2000);
    } else{
        $.ajax({
            url: "/admin/replayToUser",
            method: "post",
            data : {
                id,
                replyMessage
            },
            success: (response) => {
                if (response.status === "okay") {
                    Swal.fire({
						text: "Reply sent successfully via email.",
						showConfirmButton: false,
						position : "bottom",
						timer: 1000
					});
                    setTimeout(() => {
                        window.location.reload()
                    }, 1000);
                }
            }
        })
    }
}
</script>



<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>