<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->
<head>
    <meta charset="utf-8">
    <title>Kevin Hills Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin-assets/images/logo/kevinhillslogo.png">
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
   

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/assets/images/logo/kevinhillslogo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        
        <nav>
            <ul class="menu-aside">
                <li class="" >
                    <a class="menu-link" href="/admin/adminDashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text" >Dashboard</span>
                    </a>
                </li>
                <li class="">
                    <!-- <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i> -->
                        <a class="menu-link" href="/admin/userDetails"> <i class="icon material-icons md-people"></i> 

                        <span class="text" style="padding-left: 10px;">Users</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div> -->
                </li>
                <li class="">
                    <a class="menu-link" href="/admin/adminProduct"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text" style="padding-left: 10px;">Products</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div> -->
                </li>
                <li class="" style="background-color: black;border-radius: 5px;">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text" style="padding-left: 10px;color: #ffffff;">Catagory</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                    </div> -->
                </li>
               
                <li class="">
                    <!-- <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i> -->
                        <a class="menu-link" href="/admin/adminOrders"> <i class="text-success material-icons md-local_shipping" style="color: black;"></i> 

                        <span class="text" style="padding-left: 10px;">Orders</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div> -->
                </li>
                <li class="">
                    <!-- <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i> -->
                        <a class="menu-link" href="/admin/adminCoupon"> <i class="icon material-icons md-local_offer"></i> 

                        <span class="text" style="padding-left: 10px;">Coupons</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div> -->
                </li>
            
                <li class="">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-comment"></i>
                        <span class="text" style="padding-left: 10px;">Sales Report</span>
                    </a>
                  
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li> -->
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li> -->
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar" style="padding-left: 1000px;">
            
          
            <a class="menu-link" href="/admin/logout" onclick="confirmLogout(event)">
                <i class="icon material-icons md-people" style="margin-left: 100px; color: black;"></i> 
                <span class="text" style="color: black;">Logout</span>
            </a>
            
               
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Details about category Dates and offers.</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="d-flex justify-content-end pb-20">
                <!-- <a href="/admin/addCategory" class="btn btn-sm btn-primary rounded font-sm">Create Categories</a> -->
                <div style="margin-left: 20px;">
                    <a href="/admin/addOffer" class="btn btn-sm  rounded font-sm" style="background-color: black; color: #ffffff;">Add offer</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="col-md-15">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="width: 100%;">

                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Discount</th>
                                        <!-- <th>Status</th> -->
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (findCat.length>0) { %>
                                        <% for( let i=0; i < findCat.length; i++ ) { %>
                                            <tr>
                                                <td><b>
                                                        <%= findCat[i].name %>
                                                    </b></td>
                                                <% if (findCat[i].offer.startDate) { %>
                                                    <td>
                                                        <%= findCat[i].offer.startDate %>
                                                    </td>
                                                    <td>
                                                        <%= findCat[i].offer.endDate %>
                                                    </td>
                                                    <td>
                                                        <%= findCat[i].offer.discount %>
                                                    </td>
                                                    <!-- <td><span class="badge  rounded-pill alert-success" id="status">List</span></td> -->
                                                    <td class="text-end">
                                                        <div class="button-container">
                                                            <!-- <a href="/admin/cat-edit?id=" id="edit" class="btn btn-info rounded font-sm mt-6 p-10" style="display: inline-block; margin-right: 10px;">EDIT</a> -->
                                                            <button type="button" class="btn btn-primary"
                                                                style="padding: 10px; display: inline-block;"
                                                                onclick="deleteCatOffer('<%=findCat[i]._id%>')"
                                                                id="listButton">Delete</button>
                                                        </div>

                                                    </td>

                                                    <% }else{ %>
                                                        <td>----</td>
                                                        <td>----</td>
                                                        <td>----</td>
                                                        <!-- <td><span class="badge  rounded-pill alert-success" id="status">List</span></td> -->
                                                        <td class="text-end">
                                                            <div class="button-container">
                                                                <!-- <a href="/admin/cat-edit?id=" id="edit" class="btn btn-info rounded font-sm mt-6 p-10" style="display: inline-block; margin-right: 10px;">EDIT</a> -->
                                                                <!-- <button type="button" class="btn btn-primary"
                                                                    style="padding: 10px; display: inline-block;"
                                                                    id="listButton">Delete</button> -->
                                                            </div>

                                                        </td>

                                            </tr>
                                            <% } %>

                                                <% } %>


                                                    <% } %>





                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="/admin-assets/js/custom-chart.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
<script>
    function confirmLogout(event) {
        event.preventDefault(); 
        
        Swal.fire({
            title: 'Are you sure?',
            text: "You want to logout?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#000000',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, logout!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/admin/logout'
            }
        });
    }

   
        function list(id, index) {

            const catId = id
            //  alert(catId)

            $.ajax({
                url: "/admin/cat-list",
                method: "post",
                data: {
                    catId
                },
                success: (response) => {
                    if (response.status === "unlist") {
                        // alert("unlist")
                        document.getElementById("edit" + index).style.display = "inline-block"
                        document.getElementById("listButton" + index).innerHTML = 'LIST'
                        document.getElementById('status' + index).innerHTML = 'UNLIST'

                    } else if (response.status == 'list') {
                        // alert("list")
                        document.getElementById("edit" + index).style.display = "none"
                        document.getElementById("listButton" + index).innerHTML = 'UNLIST'
                        document.getElementById('status' + index).innerHTML = 'LIST'
                    }
                }
            })


        }

        function deleteCatOffer(id) {
            // alert(id)

            Swal.fire({
                title: "Are you sure?",
                text: "You want to Delete this Offer?!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#000000",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your Offer has been deleted.",
                        icon: "success"
                    }).then((result) => {
                        $.ajax({
                            url: "/admin/deleteOffer",
                            method: "post",
                            data: {
                                id
                            },
                            success: (response) => {
                                if (response.status === true) {
                                    // alert("hello")
                                    location.href = "/admin/catagoryOffer"
                                    // window.addEventListener("load")
                                }
                            }
                        })
                    })
                }
            })
            // alert("hai")





        }




    </script>





<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>