


<!-- Mirrored from template.hasthemes.com/toro/toro/index-8.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:17:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kevin hills</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">

    <!-- All CSS is here
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/vendor/dlicon.css">
    <!-- Others CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/owl-carousel.css">
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="/assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugins/jarallax.css">
    <link rel="stylesheet" href="/assets/css/plugins/easyzoom.css">
    <link rel="stylesheet" href="/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="/assets/css/plugins/fullpage.css">
    <link rel="stylesheet" href="/assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/ssets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
   
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .col-lg-12 {
            padding: 0; /* Remove default padding from the column */
        }

        .banner-wrap {
            width: 100%;
            max-width: 100%;
            overflow: hidden; /* Ensure the image doesn't overflow its container */
        }

        .banner-img img {
            width: 100%;
            height: auto;
        }

        .banner-content-8 {
            text-align: center;
            padding: 1em;
            color: #fff; /* Adjust text color as needed */
        }
    </style>



</head>

<body>

    <div class="main-wrapper">
        <header class="header-area section-padding-1 pt-30 pb-15">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-2">
                        
                    </div>
                    <div class="col-xl-4 col-lg-8">
                        <div class="logo logo-width text-center">
                            <a href="index.html">
                                <img src="/assets/images/logo/kevinhillslogo.png" alt="logo">
                               <!-- <B class = "main-logo">KEVIN HILLS.</B>  -->
                            </a>
                        </div>
                    </div>
                              
                        </div>
                    </div>
                </div>
            </div>
        </header>
     
                     
    <% if (proData && catName) { %>
     
        <div class="container">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="row">
                        <% for( let i = 0; i < proData.image.length; i++ ) { %>
                                
                                
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="easyzoom-style mb-10">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="/uploads/<%= proData.image[i] %>">
                                            <img src="/uploads/<%= proData.image[i] %>" alt="pro image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        <div class="col-lg-6">
                            <h4 class="card-title"><b><%= proData.name %></b></h4>
                            <h6 class="card-subtitle mb-2 text-muted"><b>Price :</b> <%= proData.regularPrice %></h6>
                            <% if (proData.offerPrice) { %>
                            <h6 class="card-subtitle mb-2 text-muted"><b>Offer Price :</b> <%= proData.offerPrice %></h6>
                            <% } %>
                            <h6 class="card-subtitle mb-2 text-muted"><b>CATEGORY :</b> <%= catName %></h6>
                            <div class="card-text">
                                <h6><b>DESCRIPTION :</b></h6>
                                <p><%= proData.discripiton %></p>
                            </div>
                            <h6 class="card-subtitle mb-2 text-muted">Size :</h6>
                            <small class="text-muted"><b>SMALL :</b> <%= proData.size.s.quantity %></small>
                            <small class="text-muted"><b>MEDIUM :</b> <%= proData.size.m.quantity %></small>
                            <small class="text-muted"><b>LARGE :</b> <%= proData.size.l.quantity %></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        
     
        <!-- Modal end -->
    </div>
            <%- include('../partials/footer') %>

    <!-- All JS is here
============================================ -->

    <!-- Modernizer JS -->
    <script src="/assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="/assets/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="/assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/owl-carousel.js"></script>
    <script src="/assets/js/plugins/slick.js"></script>
    <script src="/assets/js/plugins/jarallax.min.js"></script>
    <script src="/assets/js/plugins/countdown.js"></script>
    <script src="/assets/js/plugins/magnific-popup.js"></script>
    <script src="/assets/js/plugins/instafeed.js"></script>
    <script src="/assets/js/plugins/tilt.js"></script>
    <script src="/assets/js/plugins/images-loaded.js"></script>
    <script src="/assets/js/plugins/isotope.js"></script>
    <script src="/assets/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="/assets/js/plugins/fullpage.js"></script>
    <script src="/assets/js/plugins/jquery-ui.js"></script>
    <script src="/assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/assets/js/plugins/easyzoom.js"></script>
    <script src="/assets/js/plugins/resizesensor.js"></script>
    <script src="/assets/js/plugins/sticky-sidebar.js"></script>
    <script src="/assets/js/plugins/scrollup.js"></script>
    <script src="/assets/js/plugins/select2.min.js"></script>
    <script src="/assets/js/plugins/cookie.js"></script>
    <script src="/assets/js/plugins/bpopup.js"></script>
    <script src="/assets/js/plugins/wow.js"></script>
    <script src="/assets/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

</body>


<!-- Mirrored from template.hasthemes.com/toro/toro/product-details-thumbnail.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 09 Feb 2024 11:20:00 GMT -->
</html>